<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081436892753-3r64se7rrd99tkio7o9v208joc8fsp26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081436892753-3r64se7rrd99tkio7o9v208joc8fsp26</string>
	<key>API_KEY</key>
	<string>AIzaSyCMIoF-7XpSYSIBqe0FBiDlrZ1EfYzR_3c</string>
	<key>GCM_SENDER_ID</key>
	<string>1081436892753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginVanguard</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-120d6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-120d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081436892753:ios:0d68bdaf4bcc46ad14d270</string>
</dict>
</plist>